<div class="form-group row" id="fileuploader">
  <div *ngIf="input" class="col-12">
    <div class="row">
      <div class="col-auto">
          <button class="btn btn-delete" [disabled]="loading" (click)="removeFile()">&times;</button>
      </div>
      <div class="col inputname">
          {{input.name}} ({{input.size}} bytes)
      </div>
    </div>
  </div>
  <div class="col-12" style="margin-top: 1rem">
    <div *ngIf="!input || errors.length > 0">
      <label class="btn btn-warning" for="file">
            Choose an image
      </label>
      <input type="file"
            id="file"
            (change)="handleFileInput($event.target.files)"
            [accept]="allowedFileTypes.join(',')"
            style="display: none;">
    </div>
    <div *ngIf="input && errors.length === 0">
        <button class="btn btn-info" [disabled]="loading" (click)="uploadFileToActivity()">Generate</button>
      </div>
  </div>
  <div class="col-12">
  </div>
</div>
<div class="row">
  <div *ngIf="errors.length > 0" class="col-md-24">  
    <ul>
      <li *ngFor="let error of errors">
        {{error}}
      </li>
    </ul>
  </div>
</div>