<div class="background">
    <span></span>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-header></app-header>
        </div>
    </div>
    <div class="row border-between">
        <app-exercise-generator>
        </app-exercise-generator>
        <!-- <div class="col-md-6 order-md-12">
            <app-result-display [result]="result"></app-result-display>
        </div>
        <div class="col-md-6">
            <app-fileuploader (result)="onResult($event)"></app-fileuploader>
        </div> -->
    </div>
</div>