<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Program" type="System.Configuration.NameValueSectionHandler" />
    <section name="Maze" type="System.Configuration.NameValueSectionHandler" />
    <section name="GraphicalMaze" type="System.Configuration.NameValueSectionHandler" />
    <section name="ImageToGridConverter" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <Program>
    <add key="file" value=""/>
    <add key="numberOfMazes" value="1"/>
    
    <add key="outputDir" value="Output"/>
    <add key="inputDir" value="Input"/>
    <add key="outputFileType" value=".png"/>
    <add key="mazeHeight" value="20"/>
    <add key="minimalBrightness" value="0,5"/>
  </Program>
  
  <Maze>
    <add key="showSteps" value="false"/>
    <add key="stopAtSteps" value="false"/>
    <add key="useEdges" value="true"/>
  </Maze>
  
  <GraphicalMaze>
    <add key="cellSize" value="10"/>
    <add key="edgeWidth" value="1"/>
    <add key="edgeColor" value="Black"/>

    <add key="entranceColor" value="Green"/>
    <add key="exitColor" value="Green"/>
    <add key="inactiveColor" value="Transparent"/>
  </GraphicalMaze>
</configuration>
