/* You can add global styles to this file, and also import other style files */
.u-opac{
    background-color: rgba(245, 245, 245, 0.6);
}

.u-opac-high{
    background-color: rgba(245, 245, 245, 0.8);
}

.nav-link.active {
    background-color: rgba(245, 245, 245, 0.6) !important;
}